<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          <div class="actions">
            <a href="https://github.com/eScienceLab/eScienceLab.github.io/">Improve this page</a>
          </div>
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
        <ul class="contact-list">
          <li>Contact {{ site.title }}:</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

      </div>

      <div class="footer-col footer-col-2">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" width="88" height="31" src="/images/logo/cc-by.svg" /></a>
        <br />
        &copy; {{ site.time | date: '%Y' }} University of Manchester.
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
